## Observations and Insights

# Three observations or inferences made from the data


1. blahblah

2. blahblah

3. blahblah

In [20]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
%matplotlib inline

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset (on 'Mouse ID')

mouse_study_merged_df = pd.merge(mouse_metadata, study_results, how='outer', on='Mouse ID')

# Display the data table for preview
mouse_study_merged_df.head(11)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0

In [7]:
mouse_metadata.head(11)

   Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0      k403     Ramicane    Male          21          16
1      s185    Capomulin  Female           3          17
2      x401    Capomulin  Female          16          15
3      m601    Capomulin    Male          22          17
4      g791     Ramicane    Male          11          16
5      s508     Ramicane    Male           1          17
6      f966    Capomulin    Male          16          17
7      m546     Ramicane    Male          18          16
8      z578     Ramicane    Male          11          16
9      j913     Ramicane  Female           4          17
10     u364    Capomulin    Male          18          17

In [8]:
mouse_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Mouse ID      249 non-null    object
 1   Drug Regimen  249 non-null    object
 2   Sex           249 non-null    object
 3   Age_months    249 non-null    int64
 4   Weight (g)    249 non-null    int64
dtypes: int64(2), object(3)
memory usage: 9.9+ KB

In [6]:
study_results.head(11)

   Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0      b128          0                45.0                 0
1      f932          0                45.0                 0
2      g107          0                45.0                 0
3      a457          0                45.0                 0
4      c819          0                45.0                 0
5      h246          0                45.0                 0
6      p189          0                45.0                 0
7      n923          0                45.0                 0
8      q119          0                45.0                 0
9      f993          0                45.0                 0
10     z234          0                45.0                 0

In [15]:
mouseID_study_results_df = study_results.set_index('Mouse ID')
mouseID_results_indexed_df = mouseID_study_results_df.sort_index()
mouseID_results_indexed_df.head(11)

          Timepoint  Tumor Volume (mm3)  Metastatic Sites
Mouse ID
a203              0           45.000000                 0
a203              5           48.508468                 0
a203             25           56.793208                 1
a203             40           63.593490                 2
a203             35           61.931650                 2
a203             10           51.852437                 1
a203             20           55.173336                 1
a203             15           52.777870                 1
a203             45           67.973419                 2
a203             30           59.523197                 1
a251             40           63.095076                 1

In [19]:
# sort Mouse ID by Timepoint

mouse_timepoint_df = mouseID_results_indexed_df.groupby('Mouse ID')
mouse_timepoint_df.head()

          Timepoint  Tumor Volume (mm3)  Metastatic Sites
Mouse ID
a203              0           45.000000                 0
a203              5           48.508468                 0
a203             25           56.793208                 1
a203             40           63.593490                 2
a203             35           61.931650                 2
...             ...                 ...               ...
z969             40           70.314904                 4
z969             30           65.841013                 3
z969             45           73.867845                 4
z969             10           52.656081                 1
z969              0           45.000000                 0

[1108 rows x 3 columns]

In [9]:
study_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1893 entries, 0 to 1892
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Mouse ID            1893 non-null   object
 1   Timepoint           1893 non-null   int64
 2   Tumor Volume (mm3)  1893 non-null   float64
 3   Metastatic Sites    1893 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 59.3+ KB

In [2]:
# Checking the number of mice.

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.

In [4]:
# Optional: Get all the data for the duplicate mouse ID.

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [6]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

In [10]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen